<div class="az-dashboard-nav"> 
                <nav class="nav">
                  <a class="nav-link active" data-toggle="tab" href="#">Dashboard</a>
                  <a class="nav-link" data-toggle="tab" href="#">Clientes</a>
                </nav>
    
                <nav class="nav">
                  <a class="nav-link" href="#"><i class="far fa-save"></i> Save Report</a>
                  <a class="nav-link" href="#"><i class="far fa-file-pdf"></i> Export to PDF</a>
                  <a class="nav-link" href="#"><i class="far fa-envelope"></i>Send to Email</a>
                  <a class="nav-link" href="#"><i class="fas fa-ellipsis-h"></i></a>
                </nav>
              </div>